:root {
    --text-color: #1a1c20;
    --link-color: #4a76ee;
    --bakground-color: #eeeff1;

}

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bakground-color);
}

a {
    color: var(--link-color);
    text-decoration: none;
}

/*Navbar*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}
 
nav .left a {
    color: var(--text-color);
    font-size: 22px;
    font-weight: 600;
}

nav .right a {
    color: var(--text-color);
    margin: 0 10px;
}

nav .right a:last-child {
    color: var(--bakground-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left: 5px;
}

/*Section 1: Myinfo*/
.Myinfo-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    margin: 50px 0;
    margin-bottom: 100px;
    gap: 40px;
}

.Myinfo-section .text {
    flex: 5;
}

.Myinfo-section .text h2 {
    font-size: 45px;
}

.Myinfo-section .text .links {
    margin-top: 25px;
}

.Myinfo-section .text .links a {
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--link-color);
    margin-right: 10px;
    margin-bottom: 10px;
    transition: 1s;
}

.Myinfo-section .text .links a:hover {
    color: var(--text-color);
    border: 2px solid var(--text-color);
}

.Myinfo-section .headshot {
    flex: 2;
    display: flex;
    justify-content: right;
}

.Myinfo-section .headshot img {
    width: 350px;
    border-radius: 50%;
}

@media (max-width: 850px) {
    /*Section 1: Myinfo*/
    .Myinfo-section .text h2 {
        font-size: 35px;
    }
}

@media (max-width: 740px) {
    /*Section 1: Myinfo*/
    .Myinfo-section {
        flex-direction: column-reverse;
    }

    .Myinfo-section .headshot img {
        width: 300px;
    }
}

@media (max-width: 600px) {
    /*navbar*/
    nav {
        padding: 0 20px;
    }

    nav .right a {
        font-size: 22px;
    }

    nav .right a:last-child {
        color: var(--text-color);
        background-color: transparent;
        padding: 0; 
    }

    nav .right a span {
        display: none;
    }

    /*Section 1 myinfo */
    .Myinfo-section {
        padding: 0 20px;
    }


    .Myinfo-section .text h2 {
        font-size: 30px;
    }

}