body {
 /*   display: flex;
   flex-direction: column;
    align-items: center; */
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f9f9f9;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 5px;
}

header p {
    font-size: 1.2em;
    color: #7f8c8d;
}

section {
    margin-bottom: 30px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0,0.1)
}

a:hover {
    text-decoration: underline;
    color: #1c5980;
}

h1, h2 {
    color: #2c3e50;
}

a {
    color: #2980b9;
    text-decoration: none;
}